<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644096454105-53pc7tbrmp73vbdl800i0h5c9b0pp7nu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644096454105-53pc7tbrmp73vbdl800i0h5c9b0pp7nu</string>
	<key>API_KEY</key>
	<string>AIzaSyAyXzR6Gki29Og5YHTNC-fWJbEWzRuCOHg</string>
	<key>GCM_SENDER_ID</key>
	<string>644096454105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialLogin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>testflutter-65a05</string>
	<key>STORAGE_BUCKET</key>
	<string>testflutter-65a05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644096454105:ios:2cd7a7190a01702491fdc8</string>
</dict>
</plist>